<section>
  <h2>Evenements Personnels</h2>

    <div class="card borderCSS m-1" *ngFor="let event of events">
      <p class="right mt-3 me-3 mb-0"> {{ event["_fields"][0]["properties"]["creation_date"] }}</p>
      <div class="mySlides m-4">
        <div>
          <h3>{{ event["_fields"][0]["properties"]["name"] }} ({{ event["_fields"][0]["properties"]["statut"] }})</h3>
      </div>
      <div>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <p class="mt-3"> {{  event["_fields"][0]["properties"]["description"] }}</p>
        <p>Se déroule du {{ event["_fields"][0]["properties"]["starting_date"] }} au {{ event["_fields"][0]["properties"]["ending_date"] }}</p>
        <p hidden #id>{{ event["_fields"][0]["properties"]["id"] }}</p>
      </div>
      <div>
        <select #val>
          <option value="null">select</option>
          <option *ngFor="let friend of friends" [value]="friend">
             {{ friend }}
          </option>
        </select>
        <button mat-button (click)="invite(val.value, id.innerHTML)">Inviter un ami</button>
        <button mat-button (click)="participate(id.innerHTML)">Retirer l'évenement (non impl)</button>
      </div>
      </div>
    </div>
  </section>
