<h2>Utilisateurs</h2>

<div *ngFor="let utilisateurs of utilisateurs"> <!--affiche tout les users-->
    <h3>
        <a [title]="utilisateurs.prenom"
            [routerLink]="['/utilisateurs', utilisateurs.id]">
            {{ utilisateurs.prenom }} {{ utilisateurs.nom }}
        </a>
    </h3>

    <p *ngIf="utilisateurs.prenom"> <!--cree la balise p avec le contenu si l'utilisateur a un prenom-->
        Pseudo: {{ utilisateurs.pseudo }}
      </p>

    <button type="button" (click)="ajouterAmi()">
        ajouter ami
    </button>
    
</div>

<!-- <div ng-init="newLink = 'http://educative.io'"> // a tester pour dynamic link angular
    <p>Visit <a ng-href="{newLink}}">Educative's dynamic link</a></p>
  </div> -->