<section class="gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              <div class="mb-md-5 mt-md-4">
                <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                <p class="text-white-50 mb-5">please fill in your information!</p>
                <form>
                    <div class="form-outline form-white mb-4">
                        <input type="email" id="typeEmailX"  #email class="form-control form-control-lg" />
                        <label class="form-label" for="typeEmailX">Email</label>
                    </div>

                    <div class="form-outline form-white mb-4">
                        <input type="text" id="typeTextX"  #username class="form-control form-control-lg" />
                        <label class="form-label" for="typeTextX">Username</label>
                    </div>

                    <div class="form-outline form-white mb-4">
                      <input type="text" id="typeTextX"  #prenom class="form-control form-control-lg" />
                      <label class="form-label" for="typeTextX">Prenom</label>
                    </div>

                    <div class="form-outline form-white mb-4">
                      <input type="text" id="typeTextX"  #nom class="form-control form-control-lg" />
                      <label class="form-label" for="typeTextX">Nom</label>
                    </div>

                    <div class="form-outline form-white mb-4">
                        <input type="password" id="typePassword1"  #password class="form-control form-control-lg" />
                        <label class="form-label" for="typePassword1">Password</label>
                    </div>

                    <div class="form-outline form-white mb-4">
                        <input type="password" id="typePassword2"  #passwordConfirm class="form-control form-control-lg" />
                        <label class="form-label" for="typePassword2">Confirm password</label>
                    </div>

                    <button class="btn btn-outline-light btn-lg px-5" (click)="register(username.value, prenom.value, nom.value, password.value, passwordConfirm.value, email.value)">Register</button>
                </form>
              </div>

              <div>
                <p class="mb-0">you already have an account?</p>
                <a routerLink="/login" lass="text-white-50 fw-bold" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
