
<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="/main/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/main/friends">Amis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/main/events">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/main/messages">Messages</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <app-main-central-home *ngIf="r == '/main/home'"></app-main-central-home>
    <!-- <app-main-central-friends *ngIf="r == '/main/friends'"></app-main-central-friends> -->
    <app-main-central-events *ngIf="r == '/main/events'"></app-main-central-events>
   <!-- <app-main-central-messages *ngIf="r == '/main/messages'"></app-main-central-messages> -->
  </div>
</div>

