<h2>Creer un Evenement</h2>

<div>
    <form>
        <div class="form-outline form-white mb-4">
            <input type="name" id="typeNameX"l class="form-control form-control-lg" />
            <label class="form-label" for="typeNameX">Nom de l'évenement</label>
        </div>

        <div class="form-outline form-white mb-4">
            <input type="dateDebut" id="typeDateDebut" class="form-control form-control-lg" />
            <label class="form-label" for="typeDateDebut">Date de debut</label>
        </div>

        <div class="form-outline form-white mb-4">
            <input type="dateFin" id="typeDateFin" class="form-control form-control-lg" />
            <label class="form-label" for="typeDateFin">Date de fin</label>
        </div>

        <div class="form-outline form-white mb-4">
            <input type="description" id="typeDescription" class="form-control form-control-lg" />
            <label class="form-label" for="typeDescription">Description</label>
        </div>

        <!--<button class="btn btn-outline-light btn-lg px-5" (click)="creerEvent()">Creer Evenement</button> -->
    </form>
</div>