<h2>Creer un Evenement</h2>

<div>
    <form>
        <div class="form-outline form-white mb-4">
            <input type="name" name="name" id="name" #name class="form-control form-control-lg" />
            <label class="form-label" for="name">Nom de l'évenement</label>
        </div>

        <div class="form-outline form-white mb-4">
            <input type="date" name="starting_date" id="starting_date" #starting_date value="2022-12-14" min="2022-12-14" max="2200-12-14" class="form-control form-control-lg" />
            <label class="form-label" for="starting_date">Date de debut</label>
        </div>

        <div class="form-outline form-white mb-4">
            <input type="date" name="ending_date" id="ending_date" #ending_date value="2022-12-14" min="2022-12-14" max="2200-12-14" class="form-control form-control-lg" />
            <label class="form-label" for="ending_date">Date de fin</label>
        </div>

        <div class="form-outline form-white mb-4">
            <input type="description" name="description" #description id="description" class="form-control form-control-lg" />
            <label class="form-label" for="description">Description</label>
        </div>
        <div class="form-outline form-white mb-4">
          <select #statut>
            <option value="public">Publique</option>
            <option value="private">Privé</option>
          </select><br>
          <label class="form-label" for="description">Type de l'evenement</label>
        </div>
        <div class="form-outline form-white mb-4">
          <select #category>
            <option value="Festival">Festival</option>
            <option value="Light_Walk">Marche</option>
            <option value="Wedding">Marriage</option>
            <option value="Private_Party">Fête privée</option>
          </select><br>
          <label class="form-label" for="description">Categorie de l'evenement</label>
        </div>
        <div>
          <button class="btn btn-outline-dark btn-lg px-5" (click)="creerEvent(name.value, starting_date.value, ending_date.value, description.value, statut.value, category.value)">
            Créer l'évenement
          </button>
        </div>
    </form>
</div>
