<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/main">Nom du Site</a>
      <form class="d-flex" role="search">
        <h3 class="m-2">Pseudo</h3>
        <button class="btn btn-outline-success" type="submit" (click)="logOut()">Log Out</button>
      </form>
  </div>
</nav>


<div class="container-main">
  <div class="container-main-left">
    <app-main-left-allusers></app-main-left-allusers>
  </div>
  <div class="container-main-central">
    <app-main-central-column></app-main-central-column>
  </div>
  <div class="container-main-right">
    <app-main-right-events></app-main-right-events>
  </div>
</div>

<div id="footerCSS" class="my-5">
  <footer class="text-center text-lg-start text-white" style="background-color: #929fba">
    <div class="container p-1 pb-0">
      <!-- Section: Links -->
      <section class="">
        <div class="row">
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-2 font-weight-bold">PFE 2022 Team7</h6>
            <p>
              Text
            </p>
          </div>

          <!-- Products -->
          <hr class="w-100 clearfix d-md-none" />
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-2 font-weight-bold">Products</h6>
            <p>
              <a class="text-white">MDBootstrap</a>
            </p>
          </div>

          <!-- Contacts -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-2 font-weight-bold">Contact</h6>
            <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
          </div>
          <!-- Follow -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-2 font-weight-bold">Follow us</h6>

            <!-- Github -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #333333"
               href="https://github.com/Gyoom/PFE2022_Team7_Frontend"
               role="button">
               <i class="fab fa-github"></i>
            </a>
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #333333"
               href="https://github.com/Gyoom/PFE2022_Team7_Backend"
               role="button">
               <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
      </section>
    </div>
    <!-- Copyright -->
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2)">
      <p>
        © 2020 Copyright:
        <a class="text-white" href="?">???.com</a>
      </p>
    </div>
  </footer>
</div>

