@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.borderCSS {
    border: 2px solid ;
    border-radius: 10px;
    border-color: black;
}

.scroll {
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-align: end;
}

.heightMainPage {
    height: 85vh;
}

::-webkit-scrollbar {
    display: none;
}
