<section>
  <h2>Public Events</h2>

    <div class="card borderCSS m-1" *ngFor="let event of events">
      <div class="mySlides m-3">
        <p class="right me-1 mb-0">Create the  {{ formatDateTime(event["_fields"][0]["properties"]["creation_date"]) }}</p>
        <div>
          <h3 class="p-0 m-0 eventTitle">{{ event["_fields"][0]["properties"]["name"] }} </h3>
          <p class="ps-4 m-1">-- {{ event["_fields"][0]["properties"]["statut"] }} event organized by {{ event["_fields"][0]["properties"]["username"] }}</p>
      </div>
      <div>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <p class="mt-3"> {{  event["_fields"][0]["properties"]["description"] }}</p>
        <p class="ps-2 m-1">-- Takes place from {{ formatDate(event["_fields"][0]["properties"]["starting_date"]) }} to {{ formatDate(event["_fields"][0]["properties"]["ending_date"]) }}</p>
        <p hidden #id>{{ event["_fields"][0]["properties"]["id"] }}</p>
      </div>
      <div>
        <button mat-button>LIKE (non impl)</button>
        <button mat-button>SHARE (non impl)</button>
        <button mat-button (click)="participate(id.innerHTML)">PARTICIPE</button>
      </div>
      </div>
    </div>
  </section>
